# Arquivos de dados (evita subir CSVs pesados)
*.csv
*.tsv
*.zip
*.tar.gz

# Configurações de ambiente e credenciais
.env
*.env
*.pem
config.json

# Arquivos do DBeaver e IDEs
.dbeaver/
.vscode/
.idea/

# Logs e arquivos temporários
*.log
*.tmp
*.sqlite

# Sistema operacional
.DS_Store
Thumbs.db
